body {
  
  
 }

 .container{

  height: 600px;
  width: 600px;
  border: 1;
  display: flex;
  align-items: center;
  margin-left:30%;
  background-color:red;
  background-image: url(./images/blue.png),url(./images/yellow.png);
  background-repeat: no-repeat;
  background-position:bottom left,top right;
 }

 .heading{
  padding-left: 220px;
 }

 .startQuizButton{
  margin-left: 190px;
  width: 193px;
  height: 52px;
  left: 179px;
  top: 314px;
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
 }

